@import url("https://fonts.googleapis.com/css?family=Montserrat:400italic,700,600,800,500,400|Roboto:700");

.create-form {
  .copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 17px;
  }
  position:relative;
  .Mui-active {
    color: #3c82f6!important;
  }
  .MuiButton-containedPrimary{
    background-color: #3c82f6;
  }
  height: 100%;
  .screen a {
    display: contents;
    text-decoration: none;
  }
  form{
    height: 100%;
  }
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }

  .container-center-horizontal>* {
    flex-shrink: 0;
    pointer-events: auto;
  }

  .new-project-setup {
    align-items: center;
    background-color: var(--zircon);
    border: 0.76px none;
    display: flex;
    flex-direction: column;
    height: 454.97px;
    padding: 20.7px 14.4px;
    position: relative;
    width: 314.4px;
  }

  .page {
    align-items: flex-start;
    display: flex;
    margin-left: 0;
    margin-top: 6px;
    min-width: 278px;
  }

  .overlap-group1 {
    height: 12px;
    margin-top: 0;
    position: relative;
    width: 278px;
  }

  .rectangle-37 {
    background-color: var(--wild-sand-2);
    height: 3px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 278px;
  }

  .ellipse-2 {
    background-color: var(--cloud);
    border-radius: 6.05px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
  }

  .ellipse-3 {
    background-color: var(--cloud);
    border-radius: 6.05px;
    height: 12px;
    left: 132px;
    position: absolute;
    top: 0;
    width: 12px;
  }

  .ellipse-4 {
    background-color: var(--science-blue);
    border-radius: 6.05px;
    height: 12px;
    left: 266px;
    position: absolute;
    top: 0;
    width: 12px;
  }

  .setup-your-kickstarter {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 0.31px;
    margin-top: 17px;
    min-height: 22px;
    min-width: 237px;
  }

  .text-field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-left: 2px;
    margin-top: 18px;
    min-height: 92px;
    width: 280px;
  }

  .whats-your-kickstarter-about,
  .add-a-photo-video {
    letter-spacing: 0;
    line-height: normal;
    min-height: 15px;
  }

  .rectangle-17 {
    background-color: var(--white);
    border: 0.76px solid;
    border-color: var(--silver);
    border-radius: 4.53px;
    cursor: pointer;
    height: 68px;
    margin-left: 0;
    width: 278px;
  }

  .text-field-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 2px;
    margin-top: 18px;
    min-height: 101px;
    width: 280px;
  }

  .overlap-group2 {
    align-items: flex-start;
    background-color: var(--white);
    border: 0.76px solid;
    border-color: var(--silver);
    border-radius: 4.53px;
    display: flex;
    height: 68px;
    margin-left: 0;
    min-width: 278px;
    padding: 25.7px 130.7px;
  }

  .biimage-fill {
    height: 15px;
    width: 15px;
  }

  .flex-row {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    gap: 15px;
    margin-top: 17px;
    min-width: 283px;
  }

  .overlap-group {
    align-items: flex-end;
    background-color: var(--cloud);
    border-radius: 4.53px;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin-top: 0.02px;
    min-width: 130px;
    padding: 6.4px 47.4px;
  }

  .place {
    letter-spacing: 0;
    line-height: normal;
    min-height: 17px;
    min-width: 35px;
  }

  .next-button {
    height: 38px;
    width: 138px;
  }

  .text-field-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-left: 2px;
    margin-top: 19px;
    min-height: 52px;
    width: 280px;
  }

  .whats-your-kickstarter-title {
    letter-spacing: 0;
    line-height: normal;
    min-height: 15px;
  }

  .rectangle-17-1 {
    background-color: var(--white);
    border: 0.76px solid;
    border-color: var(--silver);
    border-radius: 4.53px;
    height: 28px;
    margin-left: 0;
    width: 278px;
  }
}